@{
    ViewBag.Title = "MainPage";
}
    <div class="divcheck">
        <h2>Welcome!</h2>
        <input type="button" value="Profile" onclick="@("location.href='" + Url.Action("ClientProfile", "User") + "'")"/>
        <input type="button" value="New Fuel Quote" onclick="@("location.href='" + Url.Action("FuelQuoteForm", "User") + "'")"/>
        <input type="button" value="Fuel Quote History" onclick="@("location.href='" + Url.Action("FuelQuoteHistory", "User") + "'")"/>
        <input type="button" value="Logout" onclick="@("location.href='" + Url.Action("Login", "User") + "'")"/>
    </div>
