body {
    font-size: .85em;
    background-image: url('images/Capture.png');
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    width: 100%;
    height: 200%;
    zoom: 110%;
    background-repeat: no-repeat;
}

header, footer, nav, section {
   
}

.divcheck{
	color: black;
  
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
  
}
.bg {
    background-image: url('images/Annotation.png');
   
    width: 100%;
    height:100%;
}

.pass {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 100px;
}
.label {
    color: #000000;
    font-weight: bold;
    display: block;
    width: 400px;
    /*float: left;*/
}

   
input[type=text] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 100px;
}

    input[type=text]:focus {
       border-color: #333;
    }

input[type=submit] {
    padding: 5px 15px;
    width: 150px;
    border: 2px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    font-weight: bold;
  
}

input[type=button] {
    width: 150px;
    padding: 5px 15px;
    border: 2px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    font-weight: bold;
   
}


legend {
    font-size: 1.5em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
